<nav>
    <div class="site-title">
     <a href="/"><h1>Tunji's Blog</h1></a>   
        <p>A Place Where I Write</p>
    </div>
<ul>
<li><a href="/">Home Page</a></li>
<li><a href="/about">About Page</a></li>
<li><a href="/blogs/create">New Blog</a></li>
</ul>        
</nav>