<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About US</h2>
        <p>A software engineer pursuing a challenging career in a growing organization that provides an opportunity to enhance my knoweledege an use my skills towards the growth of an organization.</p>
        <p>From formal education to on-the-job training, prepared to assist software professionals in the development and modification of software and technological projects.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>